<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div id="wrapper">
            <form action="/create" method="post">
                <p>First name: <input type="text" name="first_name"></p>
                <p>Last name: <input type="text" name="last_name"></p>
                <p>Email: <input type="text" name="email"></p>
                <input type="submit" name="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
